.content-wrapper {
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  width: 80%;
}

.main {
  flex: 70%;
  padding: 20px;
  border-radius: 4px;
}

.main p {
  color: white;
  background: inherit;
  font-size: calc(0.9em + 0.6vw);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.5em + 2vw);
  margin-left: 0;
  line-height: 1.6;
  text-align: justify;
  color: #587fa7;
}

.main a {
  color: white;
  background: inherit;
}

.main t {
  color: white;
  background: inherit;
}

li {
  margin-bottom: 3px;  
}

.main h2 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1em + 0.9vw);
  margin-left: 0;
  line-height: 1.6;
  text-align: justify;
  color: #626174;
}

.main h3 {
  font-size: calc(0.8em + 0.7vw);
  margin-left: 0;
  line-height: 1.6;
  text-align: justify;
  color: #587fa7;
}

.main li {
  font-size: calc(0.7em + 0.5vw);
  margin-left: 0;
  line-height: 1.6;
  text-align: justify;
  color: #587fa7;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: calc(0.4em + 0.4vw);
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.fa-github {
  font-size: calc(2.5em + 1.4vw);
  background-color: rgba(0, 0, 0, 0);
}

.fa-linkedin {
  font-size: calc(2.5em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

.fa-envelope {
  font-size: calc(2.5em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

.fa-file {
  font-size: calc(1.8em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

.fa-address-card {
  font-size: calc(2.5em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

.fa-file-text {
  font-size: calc(0.9em + 0.6vw);
  background-color: rgba(0, 0, 0, 0);
}

main {
  padding: 20px;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
  max-width: 100%;
}
.menu-bar {
  overflow: hidden;
}

.icon-dropdown {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0);
}

.icon-dropdown i {
  cursor: pointer;
  color: white;
  font-size: calc(2em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-content {
  display: none;
  top: 10px;
  left: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #2c3e50;
  border: 1px solid #34495e;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a {
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: calc(0.8em + 1vw);
  transition: background-color 0.2s ease;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 12px 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
  animation: slideIn 0.3s ease-out;
}

figcaption {
  color: #ecf0f1;
  font-size: 0.8em;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

nav a {
  display: inline-block;
  color: white;
  background: inherit;
  padding: 20px 30px;
  text-decoration: none;
  font-size: calc(0.5em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}

main h1,
main .h1 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #2d3177;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url("/src/par.jpg");
  color: white;
}

.header h1 {
  font-size: calc(2.5em + 1vw);
  background-color: rgba(0, 0, 0, 0);
}
.content-section {
  background: rgb(154, 154, 154);
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section {
  background: rgb(154, 154, 154);
}

.section-title {
  font-size: 1.5em;
  color: #333;
  background: rgb(154, 154, 154);
  margin-bottom: 15px;
  text-align: center;
}

.divider {
  width: 6em;
  height: 0.5em;
  background: #333;
  margin-bottom: 20px;
  background: rgb(192, 192, 192);
}

.image {
  float: right;
  width: 30%;
  background: inherit;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: inherit;
}

.image figcaption {
  font-size: 0.8em;
  text-align: center;
  background: inherit;
  font-family: "Montserrat", sans-serif;
}

.stack-wrapper {
  display: flex;
  flex-direction: row;
}

.stack-wrapper-light {
  display: flex;
  flex-direction: row;
  background: rgb(176, 176, 176);
}

.text-content {
  width: 68%;
  flex: 2;
  margin-left: auto;
  margin-right: auto;
}

.text-content-light {
  width: 68%;
  flex: 2;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
}

.text-content p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .stack-wrapper {
    flex-direction: column;
  }
  .stack-wrapper-light {
    flex-direction: column;
    background: rgb(154, 154, 154);
  }
  .text-content-light {
    width: 100%;
    flex: 2;
    margin-left: auto;
    margin-right: auto;
    background: rgb(154, 154, 154);
  }
  .text-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    order: 2;
    float: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.fade-out,
.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.icon-container {
  display: inline-block;
  text-align: center;
}

.icon-text {
  display: block;
  white-space: nowrap;
  font-size: calc(0.5em + 0.3vw);
  color: rgb(186, 186, 186);
  margin-top: 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.2em 0.2em;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  width: max-content;
}